output/
*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
local_save/
ckpts/
tmp*/
outputs*
nuscenes/
nuscenes
custom_data/
nuplan-devkit/
.vscode/
navsim_eval/
sat/info_logs
**/ckpts*
**.tar.gz
**/work_dirs
**/correlation_package

**/vis/
**/nav_recon
my_skills/

.egg-info