diffusers>=0.29.2
SwissArmyTransformer==0.4.11 # Inference
torch==2.4.0
torchvision==0.19.0
gradio==4.40.0 # For HF gradio demo
streamlit==1.37.0 # For web demo
opencv-python==4.10.0.84
imageio-ffmpeg==0.5.1
openai==1.38.0
transformers==4.43.4
accelerate==0.33.0
sentencepiece==0.2.0
pillow==9.5.0
omegaconf>=2.3.0
pytorch_lightning>=2.3.3
kornia>=0.7.3
beartype>=0.18.5
numpy>=1.26.0,<2.0.0
fsspec>=2024.5.0
safetensors>=0.4.3
imageio>=2.34.2
decord>=0.6.0
wandb>=0.17.5
deepspeed>=0.14.4
scipy>=1.11.0
